{% extends 'ver/ver-base.html' %}
{% block title %}¡Feria Online! Pedidos {% endblock %}

{% block content %}
    <h1>Historial de pedidos</h1>
<div class = "overall">
    <table id="tabla-pedidos">
        <tr>
            <th scope="col" id="comuna">Comuna</th>
            <th scope="col" id="tipo">Tipo</th>
            <th scope="col" id="descripcion">Descripción</th>
            <th scope="col" id="cantidad">Cantidad</th>
            <th scope="col" id="nombre">Nombre solicitante</th>

        </tr>
        {% if data %}
            {% for pedido in data %}
        <tr id = "{{pedido.id}}">
            <td>{{pedido.comuna}}</td>
            <td>{{pedido.tipo}}</td>
            <td>{{pedido.descripcion}}</td>
            <td>{{pedido.cantidad}}</td>
            <td>{{pedido.nombre}}</td>
        </tr>
        <script>
            document.getElementById("{{pedido.id}}").addEventListener("click", () => (window.location.href = "/info-pedido/{{pedido.id}}"))
        </script>
            {% endfor %}
        {% endif %}
    </table>
    <div class="left_right">
        <button id="anterior">Anterior</button>
        <button id="siguiente" >Siguiente</button>
    </div>
    <script>
        var amount = "{{metadata.amount}}";
        var page = "{{metadata.page}}";
        page = parseFloat(page)
        amount = parseFloat(amount)
        if (page+1 > amount) {
            document.getElementById("siguiente").disabled = true;
        }
        else {
            document.getElementById("siguiente").addEventListener("click", () => (window.location.href = "/ver-pedidos/"+(page+1).toString()));
        }
        if (page-1 < 0) {
            document.getElementById("anterior").disabled = true;
        }
        else {
            document.getElementById("anterior").addEventListener("click", () => (window.location.href = "/ver-pedidos/"+(page-1).toString()));
        }
    </script>
</div>
{% endblock %}

{% block script %}

{% endblock %}
