{% extends 'ver/ver-base.html' %}

{% block title %} ¡Feria Online! Donaciones {% endblock %}

{% block content %}
    <h1>Historial de donaciones</h1>
    <table id="tabla-donaciones">
        <tr>
            <th scope="col" id="comuna">Comuna</th>
            <th scope="col" id="tipo">Tipo</th>
            <th scope="col" id="cantidad">Cantidad</th>
            <th scope="col" id="fecha">Fecha</th>
            <th scope="col" id="nombre">Nombre</th>
            <th scope="col" id="foto">Foto</th>
        </tr>
        {% if data %}
            {% for donacion in data %}
        <tr id= "{{donacion.id}}">
            <td>{{donacion.comuna}}</td>
            <td>{{donacion.tipo}}</td>
            <td>{{donacion.cantidad}}</td>
            <td>{{donacion.fecha_disponibilidad}}</td>
            <td>{{donacion.nombre}}</td>
            <td><img src="{{donacion.path_image}}" height=120 width=120></th>
        </tr>
        <script>
            document.getElementById("{{donacion.id}}").addEventListener("click", () => (window.location.href = "/info-donacion/{{donacion.id}}"))
        </script>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}

{% block script %}
{% endblock %}
