{% extends 'info/informacion-base.html' %}

{% block title %}¡Feria Online! Información pedidos{% endblock %}

{% block content %}
    <h1>Información pedidos</h1>
    {% if data %}
    
    <div class = "informacion">
        <div id="region-info" class="grupo-info"> 
            <label>Region: </label>
            <p>{{data.region}}</p>
        </div>
        <div id="comuna-info" class="grupo-info"> 
            <label>Comuna: </label>
            <p>{{data.comuna}}</p>
        </div>
        <div id="tipo-info" class="grupo-info"> 
            <label>Tipo: </label>
            <p>{{data.tipo}}</p>
        </div>
        <div id="descripcion-info" class="grupo-info"> 
            <label>Descripcion: </label>
            <p>{{data.descripcion}}</p>
        </div>
        <div id="cantidad-info" class="grupo-info"> 
            <label>Cantidad:</label>
            <p>{{data.cantidad}}</p>
        </div>
        <div id="nombre-info" class="grupo-info"> 
            <label>Nombre solicitante:</label>
            <p>{{data.nombre}}</p>
        </div>
        <div id="email-info" class="grupo-info"> 
            <label>Email: </label>
            <p>{{data.email}}</p>
        </div>
        <div id="celular-info" class="grupo-info"> 
            <label>Celular: </label>
            <p>{{data.celular}}</p>
        </div>
    </div>
    {% endif %}
    <div class = "button">
        <button type="button" id="volver-inicio">
            Volver a inicio
        </button>
    </div>
{% endblock %}

{% block script %}
    <script>
        const buttonInicio = () => window.location.href = "/";
        let button = document.getElementById("volver-inicio")
        button.addEventListener("click", buttonInicio)
    </script>
{% endblock %}