{% extends 'info/informacion-base.html' %}

{% block title %}¡Feria Online! Información donaciones{% endblock %}

{% block content %}
    <h1>Información donaciones</h1>
    {% if data %}

    <div class = "informacion">
        <div id="region-info" class="grupo-info"> 
            <label>Region: </label>
            <p>{{data.region}}</p>
        </div>
        <div id="comuna-info" class="grupo-info"> 
            <label>Comuna: </label>
            <p>{{data.comuna}}</p>
        </div>
        <div id="calle-numero-info" class="grupo-info"> 
            <label>Calle y número: </label>
            <p>{{data.calle_numero}}</p>
        </div>
        <div id="tipo-info" class="grupo-info"> 
            <label>Tipo: </label>
            <p>{{data.tipo}}</p>
        </div>
        <div id="cantidad-info" class="grupo-info"> 
            <label>Cantidad:</label>
            <p>{{data.cantidad}}</p>
        </div>
        <div id="fecha-disponibilidad-info" class="grupo-info"> 
            <label>Fecha de disponibilidad:</label>
            <p>{{data.fecha_disponibilidad}}</p>
        </div>
        <div id="descripcion-info" class="grupo-info"> 
            <label>Descripcion: </label>
            <p>{{data.descripcion}}</p>
        </div>
        <div id="condiciones-info" class="grupo-info"> 
            <label>Condiciones:</label>
            <p>{{data.condiciones_retirar}}</p>
        </div>
        <div id="foto1-info" class="grupo-info"> 
            <label>Imagen 1:</label>
            <img src="foto1.jpg" height=120 width=120>
        </div>
        <div id="foto2-info" class="grupo-info"> 
            <label>Imagen 2:</label>
            <img src="foto2.jpg" height=120 width=120>
        </div>
        <div id="foto3-info" class="grupo-info"> 
            <label>Imagen 3:</label>
            <img src="foto3.jpg" height=120 width=120>
        </div>
        <div id="nombre-info" class="grupo-info"> 
            <label>Nombre solicitante:</label>
            <p>{{data.nombre}}</p>
        </div>
        <div id="email-info" class="grupo-info"> 
            <label>Email: </label>
            <p>{{data.email}}</p>
        </div>
        <div id="celular-info" class="grupo-info"> 
            <label>Celular: </label>
            <p>{{data.celular}}</p>
        </div>
    </div>
    {% endif %}

    <div class = "button">
        <button type="button" id="volver-inicio">
            Volver a inicio
        </button>
    </div>
{% endblock %}

{% block script %}
    <script>
        const buttonInicio = () => window.location.href = "/";
        let button = document.getElementById("volver-inicio")
        button.addEventListener("click", buttonInicio)
    </script>
{% endblock %}